<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Home/CSS/contacto.css">
    <title>Crear cuenta</title>
</head>
<body>

    <article id="contact">
        <h2 class="major">Crear cuenta</h2>
        <form method="post" action="#">
            <div class="fields">
                <div class="field half">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                    <label for="name">Apellidos</label>
                    <input type="text" name="last name" id="last name" />
                </div>
                <div class="field half">
                    <label for="name">Estado</label>
                    <input type="text" name="estado" id="estado" />
                </div>
                <div class="field half">
                    <label for="name">Ciudad</label>
                    <input type="text" name="ciudad" id="ciudad" />
                </div>
                <div class="field half">
                    <label for="Direccion">Dirección</label>
                    <input type="text" name="direccion" id="direccion" />
                </div>
                <div class="field half">
                    <label for="Telefono">Teléfono</label>
                    <input type="text" name="telefono" id="telefono" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field half">
                    <label for="email">Password</label>
                    <input type="text" name="password" id="password" />
                </div>
                
                
            </div>
            <ul class="actions">
                <li><input type="submit" value="Enviar" class="primary" /></li>
          
            </ul>
        </form>
     
    </article>

    
</body>
</html>
    